.checkImg {
  align-self: center;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.187rem;
}

.info {
  align-self: center;
  margin-bottom: 4.062rem;
  color: var(--color-dark-100);
  text-align: center;
}
