.title {
  margin-bottom: 0.312rem;
  color: var(--color-light-900);
}

.root {
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-shrink: 0;

    .trigger {
      all: unset;

      cursor: pointer;
      user-select: none;

      padding: 6px 24px;

      color: var(--color-light-100);

      background-color: transparent;
      border: 1px solid var(--color-dark-300);
      border-left: none;

      &:first-child {
        border-left: 1px solid var(--color-dark-300);
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
      }

      &[data-state='active'] {
        background-color: var(--color-accent-500);
        border: 1px solid var(--color-accent-500);
      }

      &:focus-visible {
        background: var(--color-dark-700);
        border: 2px solid var(--color-info-900);
      }

      &:hover {
        color: var(--color-light-900);
        background-color: var(--color-dark-300);
        border: 1px solid var(--color-dark-100);
      }

      &:disabled {
        cursor: initial;
        color: var(--color-dark-300);
        background: var(--color-dark-700);
        border: 1px solid var(--color-dark-300);
      }
    }
  }
}
