.info {
  margin-bottom: 4.063rem;
  color: var(--color-dark-100);
}

.email {
  margin-bottom: 1.1875rem;
}

.rememberPassword {
  cursor: pointer;
  align-self: center;
  margin-bottom: 0.687rem;
  color: var(--color-light-900);
}
